.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-vertical {
  width:100%;
  border-radius:0.25rem;
  background-color: #c5c5c2;
  padding-right: 0px;
  padding-left: 0px;
  .nav-link {
    border: 1px solid;
    border-color: black;
    margin-bottom: 0px;

  }

}
